*{ box-sizing: border-box;
  margin: 0; padding: 0;
  list-style: none;
}

header h1 {
  padding: 2rem;;
}

main{
  display: flex;
  justify-content: center;
}

.game{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game p, 
.game h4 {
  padding:20px;
}

.red{
  background-color:red;
  color:red;
}

.black {
  background-color:black;
  color:black;
}

.gray{
  color: rgb(50,50,50,0.0);
}

.message {
  height:2rem;
}

ul.board{
  display: flex;
}

ul.column{
  display: flex;
  flex-direction: column;
}

li.cell{
  padding: 10px;
  margin: 1px;
  font-size: 2rem;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 30px;
  user-select: none;
  width: 5rem;
  height:5rem;
}

li.taken {
  cursor:not-allowed;
}

footer p {
  padding: 3rem;
}